<!DOCTYPE html>
<html lang="en">

<head>
    <title>Concert App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Concert app</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>
            <form method="get" action="/" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="filter" type="search" value="{{filter}}" placeholder="Search artists" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <form method="post" action="/reset-filter/" class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Reset search</button>
            </form>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="card-columns">
            {{#artists}}
            <div class="card my-3">
                <h4 class="text-center">Artist</h4>
                <div class="m-2">
                    <span><b>Name:</b> {{name}}</span>
                    <br>
                    <span><b>Type:</b> <i>{{type}}</i></span>
                </div>
                <div class="card-footer text-muted">
                    <a class="btn btn-outline-warning" href="/artist-edit/?id={{id}}">
                        Edit
                    </a>
                    <a class="btn btn-outline-danger" href="/artist-delete/?id={{id}}">
                        Delete
                    </a>
                </div>
            </div>
            {{/artists}}
            {{#pauses}}
                <div class="card my-3">
                    <h4 class="text-center">Pause</h4>
                    <div class="m-2">
                        <span><b>Type:</b> {{type}}</span>
                        <br>
                        <span><b>Activity:</b> {{duration}} <i>min</i></span>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-outline-warning" href="/pause/pause-edit/?id={{id}}">
                        Edit
                        </a>
                        <a class="btn btn-outline-danger" href="/pause/pause-delete/?id={{id}}">
                        Delete
                        </a>
                    </div>
                </div>
            {{/pauses}}
        </div>



        <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseAddArtist" role="button" aria-expanded="false" aria-controls="collapseAddArtist">
            Add new Artist
        </a>
        <div class="collapse" id="collapseAddArtist">
            <div class="form-group mt-3">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Enter name" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="type" placeholder="Enter type">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success">Add</button>
                    </div>
                </form>
            </div>
        </div>

        <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseAddPause" role="button" aria-expanded="false" aria-controls="collapseAddPause">
            Add new Pause
        </a>
        <div class="collapse" id="collapseAddPause">
            <div class="form-group mt-3">
                <form method="post" action="/pause/add-pause" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control" name="type" placeholder="Enter type" />
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="duration" placeholder="Enter duration">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<br>
<br>
<br>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>